@import './smm-font.scss';
@import 'primeicons/primeicons.css';

html, body {
  overflow: visible;
}

.text-nowrap {
  text-wrap: nowrap;
}

.text-balance {
  text-wrap: balance;
}

.text-smm {
  font-family: 'Super Mario Maker';
}

.bg-inherit {
  background-color: inherit;
}

@layer primevue-overrides {
  .p-menuitem-link:not(:hover), .p-highlight .p-menuitem-link {
    background-color: transparent;
  }

  .p-datepicker {
    // fixes datepicker in table filter being extremely squashed
    width: unset !important;
  }

  .p-inputtext, .p-multiselect-label, .p-button-sm {
    padding: 4px 8px;
  }
  .p-input-icon-left > .p-inputtext {
    padding-left: 2.5rem;
  }

  .p-frozencolumn {
    z-index: 10;
  }
  .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover {
    background-color: #f3f5b7;
  }
}